h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #636363;
    text-shadow: black;
}

p {
    font-family: 'Work Sans', sans-serif;
    color: black;
    text-align: justify;
    font-size: 21px;
    padding: 0px 10px 30px 10px;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(45deg, #013860, #abdbfe);
    margin: 0px;
    padding: 0px;
}

.carousel-caption p {
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 0px;
}

.carousel-caption {
    line-height: 150%;
    background-color: rgba(0, 0, 0, .60);
    padding: 0px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

a:hover {
    cursor: pointer;
    color: white;
}

/* Footer */

footer {
    background-color: #014e86;
    margin: 30px auto 0px auto;
    padding: 10px 0px;
}

 .column {
    margin: auto;
    color: whitesmoke;
    font-size: 18px;
    display: inline-block;
    width: auto;
    text-align: center;
    font-weight: bold;
} 

footer a {
    font-family: 'Roboto Condensed', sans-serif;
    color: whitesmoke;
}

@media only screen and (max-width: 451px) {

    .navbar {
        margin-bottom: 20px;
    }

    #afsaWingsImg {
        height: 50px;
    }

    /* All Sections */

    .section {
        background: rgba(237, 237, 237, .7);
        margin: 20px auto;
        border-radius: 5px;
        width: 85%;
    }

    /* About AFSA Section */

    #about h1 {
        padding-top: 30px;
    }

    /* Members Section */

    #members h1 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .carousel {
        padding-bottom: 20px;
    }

    .carousel-item {
        height: 450px;
        line-height: 450px;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
    }

    .carousel-item img {
        height: 100%;
        margin: -100%;
    }

    /* Events Section */ 

    #events {
        padding-bottom: 1px;
    }

    #events h1 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #calendarButton-desktop {
        display: none;
        margin: 10px auto;
        text-align: center;
        border-radius: 2px;
    }

    #calendarButton-mobile {
        display: block;
        margin: 0px auto 20px auto;
        text-align: center;
        border-radius: 2px;
        font-size: 20px;
    }

    #calendarLink {
        color: black;
        margin: auto;
        text-align: center;
        display: block;
    }

    #calendar {
        z-index: 1001;
    }
}

@media only screen and (min-width: 452px) and (max-width: 575px) {

    .navbar {
        margin-bottom: 20px;
    }

    #afsaWingsImg {
        height: 50px;
    }

    .container {
        max-width: 1024px;
    }

    .section {
        background: rgba(237, 237, 237, .7);
        margin: 20px auto;
        border-radius: 5px;
        width: 85%;
    }

    /* About AFSA Section */

    #about h1 {
        padding-top: 30px;
    }

    /* Members Section */

    #members h1 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .carousel-item img {
        border-radius: 10px;
        height: 500px;
        width: 100%;
        margin: auto;
    }

    /* Events Section */ 

    #events h1 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #calendarButton-desktop {
        display: block;
        margin: 10px auto;
        text-align: center;
        border-radius: 2px;
    }

    #calendarButton-mobile {
        display: none;
        margin: 10px auto;
        text-align: center;
        border-radius: 2px;
    }

    .modal {
        width: 95%
    }

    .modal-content {
        margin: auto;
        width: 110%;
    }
}

@media only screen and (min-width: 576px) {

    .container-grid {
        width: 90%;
    }

    .navbar {
        margin-bottom: 20px;
        height: 60px;
        border-radius: 5px;
    }

    #afsaWingsImg {
        height: 50px;
    }

    .container {
        max-width: 1024px;
    }

    .section {
        background: rgba(237, 237, 237, .45);
        margin: 20px auto;
        border-radius: 5px;
    }

    /* About AFSA Section */

    #about h1 {
        padding-top: 30px;
    }

    /* Events Section */ 

    #events h1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #calendarButton-desktop {
        display: block;
        margin: 0px auto 20px auto;
        text-align: center;
        border-radius: 2px;
        font-size: 20px;
    }

    #calendarButton-mobile {
        display: none;
        margin: 10px auto;
        text-align: center;
        border-radius: 2px;
    }

    .modal {
        width: 95%
    }

    .modal-content {
        margin: auto;
        width: 110%;
    }
    
    /* Members Section */

    #members h1 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    /* Carousel CSS */

    .carousel {
        padding-bottom: 20px;
    }

    .carousel-item {
        height: 450px;
        line-height: 450px;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
    }

    .carousel-item img {
        height: 100%;
        margin: -100%;
    }

    .carousel-caption {
        width: 30%;
        margin: auto;
    }
}